<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Go_to_De</title>
</head>
<body>
<div>
    <table class="go_table">
        <tr>
            <td></td>
            <td>day1</td>
            <td>day2</td>
        </tr>
        <tr>
            <td>num</td>
            <td>1</td>
            <td>2</td>
        </tr>
        <tr>
            <td>value</td>
            <td>12</td>
            <td>Hello {{ re["name"] }}</td>
        </tr>
    </table>
    <p>your browser is{{ re["agent"] }}</p>
</div>
</body>
</html>