.logo{
    width: 100px;
    height: 35px;
}

.main{
    background: #fff;
    width: 730px;
    height: auto;
    padding: 10px;
    margin: 0 auto;
    overflow: hidden;
}

.form-container{
    width: 350px;
}

.form-group{
    /*width: 80%;*/
    padding: 10px;
    /*display: block;*/
}

.form-control{
    width: 330px;
}

.btn-submit{
    width: 100%;
}

.position_center{
    text-align: center;
}
.position_left{
    text-align: left;
}
.position_right{
    text-align: right;
}
.article_content{
    text-indent: 2em;
}

.title_font{
    font-size: 20px;
    padding: 10px;
}


.article_type{
    float: left;
    margin: 0 0 10px 10px;
}
.error{
    color: red;
}
.right{
    color: green;
}

.float_r{
    float: right;
}

.float_l{
    float: left;
}