{% extends 'nav.html' %}
{% block title %}文章详情{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/article.css') }}">
{% endblock %}
{% block nav %}
    <h1 class="position_center">{{ article.title }}</h1>
    <p class="position_right">作者：{{ article.author }}</p>
    <p class="position_right">创建日期：{{ article.create_time }}</p>
    <hr>
    <p class="article_content">{{ article.content }}</p>
    <hr class="strong_hr">
    <p>总评论数：({{ comments|count  }})</p>
    <hr>
    {% if comments %}
        {% for c in comments %}
            <p>{{ c.author }} 说：</p>
            <p class="article_content">{{ c.content }}</p>
            <p class="position_right">{{ c.create_time }}</p>
            <hr class="dotted_hr">
        {% endfor %}
    {% endif %}
    <form class="navbar-form navbar-left comment_form" role="search" method="post" action="{{ url_for('comment') }}">
    <hr>
    <td>添加评论：</td>
    <td><textarea name="comment" id="comment" cols="50" rows="1" class="form-control"></textarea></td>
        <input type="hidden" name="article_id" value="{{ article.id }}">
        <td><button type="submit" class="btn btn-primary btn-submit">发布</button></td>
    </form>
{% endblock %}