{% extends 'nav.html' %}
{% block title %}首页{% endblock %}
<style type="text/css">
    *{ margin:0px auto; padding:0px; font-family:"微软雅黑"}
    .b3{ list-style:none; width:400px; height:30px; font-size:16px; text-align:center; line-height:30px; vertical-align:middle; position:relative}
    .b4{ width:50px; height:30px; float:left; font-size:20px; text-align:center; line-height:30px; vertical-align:middle}
    .b4:hover{ cursor:pointer; background-color:#FC6}
    #fy_shang{ font-size:16px; text-align:center; line-height:30px; vertical-align:middle; width:60px; float:left}
    #fy_xia{ font-size:16px; text-align:center; line-height:30px; vertical-align:middle; width:60px}
    #fy_shang:hover{ cursor:pointer; background-color:#FC6}
    #fy_xia:hover{ cursor:pointer; background-color:#FC6}
</style>
{% block nav %}
    {% for article in articles %}
        <a class="title_font" href="{{ url_for('article.article_info', article_id = article.id) }}">{{ article.title }}</a>
        <p class="article_content">{{ article.content }}</p>
        <p class="position_right"><span class="article_type">{{ article.type }}</span>{{ article.author }}&nbsp&nbsp&nbsp&nbsp{{ article.create_time }}</p>
        <hr>
    {% endfor %}

    <nav aria-label="Page navigation" class="float_r">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    <a href="{{ url_for('article.all_articles') }}">更多</a>
{% endblock %}
